<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Управление менеджер</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/manager.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/root.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>

<div class="top-menu">
    <div class="top-menu-container">
        <img class="top-menu-item logo" src="{{ url_for('static', filename='images/logo.svg') }}">
       <a class="top-menu-item" href="/img4">Заявки</a>
        <a class="top-menu-item" href="/img2">Контроль платежей</a>
        <label class="top-menu-item">{{ data['name'] }}</label>
    </div>
</div>

<div class="main-container">
    <div class="advert">
        <div class="advert-header">Объявления</div>
        {% for ad in data['adverts'] %}
            <div class="advert-item">
                <label class="advert-item-dscrp">{{ ad.text }}</label>
                {% if ad.option_1 != None %}
                    <a href="/voiting/results?data={{ data['vk_id'] }}&id={{ ad.id }}" class="advert-item-more">Голосование</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="new-advert">
        <form action="/api/adverts/add" method="GET">
            <textarea name="text" class="main" placeholder="Введите текст нового объявления"></textarea>
            <input name="option-1" class="option-1" placeholder="Вариант 1">
            <input name="option-2" class="option-2" placeholder="Вариант 2">
            <input name="option-3" class="option-3" placeholder="Вариант 3">
            <input type="hidden" name="vk_id" value="{{ data['vk_id'] }}">
            <button type="submit">Опубликовать</button>
        </form>
    </div>
</div>
</body>
</html>