<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Маркетплейс</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/marketplace.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/root.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
<div class="advert">
    <div class="advert-header">Маркетплейс</div>
    <div class="advert-item">
        <label class="advert-item-dscrp">Подключение домашнего интернета</label>
        <label class="advert-item-more">Подробнее</label>
    </div>
    <div class="advert-item">
        <label class="advert-item-dscrp">Уборка снега у гаража</label>
        <label class="advert-item-more">Подробнее</label>
    </div>
    <div class="advert-item">
        <label class="advert-item-dscrp">Уборщица</label>
        <label class="advert-item-more">Подробнее</label>
    </div>
</div>

</body>
</html>