<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Управление жилец</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/resident.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/root.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>

<img src="{{ url_for('static', filename='images/za-hu.jpg') }}" <!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Управление жилец</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/resident.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/root.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>

<img src="{{ url_for('static', filename='images/za-hu.jpg') }}" width="1700px" height="800px" >


</body>
</html>>


</body>
</html>