body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.advert {
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    background: var(--gray-bg-color);
    border-radius: 15px;
    padding-bottom: 20px;
}

.advert-header {
    font-size: 22px;
    padding: 20px;
}

.advert-item {
    margin: 0 auto;
    background: var(--gray-black-color);
    width: 460px;
    height: 130px;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
}

.advert-item-dscrp {
    position: absolute;
    left: 20px;
    top: 20px;
}

.advert-item-more {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: black;
}